
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
__pycache__/tetrisSim.cpython-310.pyc
__pycache__/tetrisVision.cpython-310.pyc
dist/TetrisCore-1.0-py3.10-win-amd64.egg
TetrisCore.egg-info/
build/
env/Lib/
vc140.pdb

